@font-face{
    font-family:'Geist-Mono';
    src:
            url('../fonts/GeistMono-Black.ttf') format('ttf'),
            url('../fonts/GeistMono-Bold.ttf')format('ttf'),
            url('../fonts/GeistMono-ExtraBold.ttf')format('ttf'),
            url('../fonts/GeistMono-ExtraLight.ttf')format('ttf'),
            url('../fonts/GeistMono-Light.ttf')format('ttf'),
            url('../fonts/GeistMono-Medium.ttf')format('ttf'),
            url('../fonts/GeistMono-Regular.ttf')format('ttf'),
            url('../fonts/GeistMono-SemiBold.ttf')format('ttf'),
            url('../fonts/GeistMono-Thin.ttf')format('ttf'),
            url('../fonts/GeistMono-VariableFont_wght.ttf')format('ttf');
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "geist-mono", monospace;
    background-color: #F4F3F1;
    line-height: 1.5;
}

header {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #F4F3F1;
    padding: 0.2rem 1rem;
}

.logo-name {
    display: flex;
    align-items: center;
    gap: 0.01rem;
    text-decoration: none;
    color: inherit;
}

.logo-name h2 {
    font-weight: 600;
    font-size: 1.5rem;
    letter-spacing: 1.5px;
    font-family: "geist-mono", monospace;
}

.header-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-flex img {
    width: 80px;
}

.navigation-flex {
    display: flex;
    gap: 2rem;
    font-family: "geist-mono", monospace;
    justify-content: space-between;
    padding-block: 1rem;
}

.navigation-flex a {
    text-decoration: none;
    color: #36393A;
    font-weight: 550;
    font-size: 1.2rem;
    letter-spacing: 1.5px;
    padding: 0.5rem 0;
    font-family: "geist-mono", monospace;
}

.navigation-flex a:first-child {
    color: #3171C6;
    font-weight: 600;
}

.navigation-flex a:hover {
    color: #D14C18;
    font-weight: 600;
}

.burger {
    align-items: center;
    display: none;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.burger svg {
    fill: #36393A;
    transform: translateY(-11px);
}


/* hero section */
/* very common pattern!! */
.hero-section {
    max-width: 1200px;
    width: 100%;
    margin: 4rem auto;
    padding: 4rem 6rem;

    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
}

.hero-text {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1;
    max-width: 550px;
}

.deco-symbol {
    position: absolute;
    width: 40rem;
    height: auto;
    top: -7rem;
    left: -12rem;
}

.hero-text h2 {
    font-family: "geist-mono", monospace;
    padding-left: 1rem;
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 1.05;
    margin-bottom: 2rem;
    white-space: nowrap;
    color: #3171C6;
}

.hero-text p {
    font-family: "geist-mono", monospace;
    font-size: 1.2rem;
    line-height: 2;
    color: #2D2D2D;
}


.img-text img {
    width: max(420px, 45vw);
    height: auto;
    display: block;
}

.project-page {
    padding: 10rem 4rem 4rem 4rem;
}

.project-page h2 {
    margin-bottom: 2rem;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 2rem;
}


.project-box {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
}

.project-box h2 {
    font-family: "geist-mono", monospace;
    font-size: 1rem;
    font-weight: 600;
    color: #3171C6;
}

.project-box h5 {
    font-size: 0.9rem;
    font-weight: 500;
    color: #777;
    margin-bottom: 1rem;
}

.horizontal_line {
    width: 100px;
    height: 3px;
    background-color: #3171C6;
    margin-bottom: 1rem;
    border-radius: 30px;
}

.project-box img {
    width: 100%;
    height: 160px;
    object-fit: cover;
    border-radius: 8px;
}


button {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    justify-content: center;
    margin: 2rem auto 0;
    padding: 5px;

    background-color:#3171C6;
    color: #F4F3F1;
    border: none;


    text-decoration: none;

    font-family: "geist-mono", monospace;
    font-weight: 200;
    font-size: 1rem;
}

.active:hover {
    background-color: #212842;

}

.project-box li {
    font-size: 0.8rem;
    color: #555;
}

.skill-page {
    padding: 5rem 4rem 4rem 4rem;
    display: grid;
    gap: 2rem;
}

.skill-page h2 {
    margin-bottom: 1em;
}

.skills-table {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    row-gap: 10px;
}

.skills-table p {
    border: 2px solid black;
    padding: 3px 15px;
    margin: 0 0.5rem;
    border-radius: 15px;
}

.skills-table p:hover {
    background-color: #3171C6;
    color: #F4F3F1;
    border:  2px solid #3171C6;
}

.experience {
    padding: 5rem 4rem 4rem 4rem;
    display: grid;
    gap: 2rem;
}

.experience h2 {
    margin-bottom: 1em;
}

.exp-list {
    border-left: 3px solid #3171C6;
    padding-left: 1.5rem;
    display:grid;
    gap: 1.25rem;
}

.exp-item {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    gap: 2rem;
    align-items: start;
}

.exp-date {
    font-weight: 600;
    color: #36393A;
    padding-right: 0.5rem;
    font-size: 0.95em;
}

.exp-body h3 {
    margin: 0;
    font-size: 1em;
    font-weight: 600;
    color: #36393A;
}

.exp-sub{
    margin-top: 0.25em;
    font-size: 0.9em;
    color: #777;
    opacity: 0.8;
    font-style: italic;
}

.details-content {
    margin-top: 1rem;
    line-height: 1.8em;
}
summary {
    cursor: pointer;
}

::marker {
    color: #D14C18;
}

summary:hover {
    color: #3171C6;
    font-weight: 600;
}

.bold-word {
    font-weight: 600;
    color: #3171C6;
}
footer {
    text-align: center;
    padding: 2rem;
    font-size: 0.85rem;
    color: #777;
}



@media (max-width: 768px) {
    html, body {
        overflow-x: hidden;
    }

    .burger {
        display: block;
    }

    .navigation-flex {
        flex-wrap: wrap;
        gap: 1rem;
    }

    .navigation-flex a {
        display: none;
        width: 100%;
        text-align: center;
        padding: 0.5rem 0;
    }

    .navigation-flex.open a {
        display: block;
    }

    .hero-section {
        padding: 2rem 1rem;
        margin: 2rem auto;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    /* move image to the top */
    .img-text {
        order: -1;
        width: 100%;
    }

    .img-text img {
        width: 100%;
    }

    .deco-symbol {
        width: 22rem;
        left: -4rem;
        top: -5rem;
    }

    .hero-text {
        align-items: center;
        justify-content: center;
    }

    .hero-text h2 {
        padding-left: 0;
        white-space: normal;
    }

    .project-page {
        padding: 4rem 1rem 2rem;
    }

    .project-grid {
        grid-template-columns: 1fr;
    }

    .project-box {
        width: 100%;
    }
}

@media screen and (min-width: 1920px) {
    .project-grid {
        grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    }
}




